.downloads {
    &__title.ant-typography {
        color: #2f54eb;
        font-weight: 400;
        text-align: start;
    }
}

@media screen and (max-width: 576px) {
    .downloads {
        width: 100%;

        &__title.ant-typography {
            text-align: center;
        }
        .ant-card-body {
            text-align: center;
        }
    }
}
