@import '/src/theme/vars.scss';

.auth-form {
    &__item {
        margin-bottom: 32px;
    }

    &__logo {
        margin-bottom: 48px;
        text-align: center;
    }

    &__tabs {
        .ant-tabs-nav-list {
            width: 100%;
            .ant-tabs-tab {
                width: 50%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .login-form {
        .ant-form-item-explain {
            font-size: 12px;
        }
    }

    &__features {
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-forgot {
            padding-right: 0;
        }
    }

    &__submit {
        width: 100%;
    }
}
