@import '@theme/vars.scss';

.verify-container {
    margin: 0 auto;

    .verify-character {
        width: 40pc;
        height: 40px;
        border: 1px solid $title-border-light;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;

        &_inactive {
            background: $bg-light;
        }
    }
}

.verify-info {
    margin-top: 16px;
    color: $title-light-secondary;
}
